@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,600');
@import url('https://fonts.googleapis.com/css?family=Muli:700');

@import "~bootstrap/scss/bootstrap";

$font-base: #9BA2A9;
$font-heading: darken($font-base, 20%);
$font-hover: lighten($font-base, 5%);
$opaque-bg:  rgba($font-base, .125);
$opaque-bg-hover:  darken($opaque-bg, 15%);

//code 

pre {
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 95%;
  line-height: 140%;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  border: none;
  border-radius: 0;
}       

code {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 95%;
  line-height: 140%;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  background: $opaque-bg;
  display: inline;
}

code.block {
  display: block;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0;
}

@media(min-width: 992px){
.desktop-show{
  display: block;
}
.mobile-show{
  display: none;
}
}

body{
	font-family: 'Nunito Sans', Helvetica, Sans;
	h1,h2,h3,h4,h5{color: $font-heading;}
	p,span,i{color:$font-base;}
}

.rounded-pill{
  background: grey;
}

.image-holder{
  height: 142px;
  overflow: hidden;

}
// partials here
